<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input [(ngModel)]="email" email placeholder="ejemplo@gmail.com"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Contraseña</ion-label>

    <ion-input
      clearOnEdit="false"
      [type]="passwordType"
      [(ngModel)]="password"
      placeholder="contraseña"
    ></ion-input>

    <ion-icon
      slot="end"
      [name]="passwordIcon"
      class="passwordIcon"
      (click)="hideShowPassword()"
    ></ion-icon>
  </ion-item>

  <ion-list style="text-align: center">
    <ion-button class="ion text-center" (click)="login()">Login</ion-button>

    <p class="ion text-center">
      No tienes una cuenta? <strong routerLink="/signup">Registrate</strong>
    </p>
  </ion-list>
</ion-content>
