<ion-header>
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 

  <ion-item>
 
 
    <ion-label> Email </ion-label>
    <ion-input [(ngModel)]="email" placeholder="ejemplo@gmail.com"></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label> Contraseña </ion-label>
    <ion-input [(ngModel)]="password" placeholder="contraseña"></ion-input>
  </ion-item>

  <ion-button (click)="login()" > Login </ion-button>

  <p class="ion text-center"> No tienes una cuenta? <strong routerLink="/signup">Registrate</strong> </p>

</ion-content>
