<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="atras()"></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva nota</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item >
    <ion-textarea placeholder="titulo" [autoGrow]="true" [(ngModel)]="title"value="53703" [disabled]="false"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-textarea
      [autoGrow]="true"
      [(ngModel)]="notes"
      value="53703"
      [disabled]="false"
      placeholder="nota"
    ></ion-textarea>
  </ion-item>

  <ion-list style="text-align: center">
    <ion-button (click)="save()"
      >Guardar <ion-icon slot="end" name="archive"></ion-icon
    ></ion-button>
    <ion-button (click)="show()"
      >Mostrar Notas <ion-icon slot="end" name="folder-open"></ion-icon
    ></ion-button>
  </ion-list>

  <ion-card *ngFor="let card of Notes; trackBy:trackItems">
    <ion-card-header color ="primary">
      <ion-card-title >
        {{card.title}}
      </ion-card-title>
      <br/>
      <ion-card-subtitle *ngIf="card.collections"> 
        Coleccion: {{card.collections}} </ion-card-subtitle>
    </ion-card-header>
    <br/>
    <ion-card-content> {{card.notes}} </ion-card-content>
    <ion-button fill="clear" (click)="send()">Editar</ion-button>
  </ion-card>
</ion-content>
