<ion-header>
  <ion-toolbar>
    <ion-title>BLOC-Notas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-label> BIENVENIDO AL BLOC DE NOTAS</ion-label>
<ion-content>


  <ion-item>
    <ion-label>Titulo</ion-label>
    <ion-input [(ngModel)]="title" value="53703" [disabled]="false"></ion-input>
  </ion-item>



  <ion-item>
    <ion-label>Nota</ion-label>
    <ion-input  [(ngModel)]="notes" value="53703" [disabled]="false"></ion-input>
  </ion-item>

  <ion-list style="text-align:center">
  
    <ion-button (click)="Save()">Guardar</ion-button>
    
    <ion-button (click)="atras()">Volver</ion-button>
  
  </ion-list>

  </ion-content>
  

