<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="atras()"></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva nota</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>Titulo</ion-label>
    <ion-input
      [(ngModel)]="title"
      value="53703"
      [disabled]="false"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      [(ngModel)]="notes"
      value="53703"
      [disabled]="false"
      placeholder="nota"
    ></ion-input>
  </ion-item>

  <ion-list style="text-align: center">
    <ion-button (click)="save()">Guardar</ion-button>
    <ion-button (click)="show()">Mostrar Notas</ion-button>
  </ion-list>

  <ion-card *ngFor="let card of Notes | keyvalue">
    <ion-card-header>
      <ion-card-title routerLink="/editar-nota" [queryParams]="{sendNotes}">
        {{ card.value | json}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content> </ion-card-content>
  </ion-card>
</ion-content>
