<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="atras()"></ion-back-button>
    </ion-buttons>
    <ion-title>Colecciones</ion-title>
  </ion-toolbar>
</ion-header>
<ion-item>
  <ion-label > Buscar</ion-label>
  <ion-input [(ngModel)]="collections" placeholder=""></ion-input>
</ion-item>
<ion-button class="ion text-center" (click)="show()" >Mostrar <ion-icon slot="end" name='folder-open'></ion-icon></ion-button>
<ion-button class="ion text-center "(click)="favoritos()" color="warning" >Favoritos <ion-icon slot="end" name="star"> </ion-icon></ion-button>
  <ion-button class="ion text-center "(click)="borrar()" color="danger" >Borrar Coleccion <ion-icon slot="end" name='close-circle'></ion-icon></ion-button>
<ion-content>

  <br/>
  <br/>

  <ion-card *ngFor="let card of collect; trackBy:trackItems">
    <ion-card-header color="primary">
      <ion-card-title>
        {{card.title}}
      </ion-card-title>
      <br/>
      <ion-card-subtitle *ngIf="card.collections">
        Coleccion: {{card.collections}}
      </ion-card-subtitle>
    </ion-card-header>
    <br/>
    <ion-card-content>
      {{card.notes}}
    </ion-card-content>
  </ion-card>
</ion-content>
