<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="text-align: center">
    <ion-button (click)="newNote()">Nueva nota</ion-button>
    <br />
    <br />
    <ion-button (click)="openDetailsWithQueryParams()">Notas</ion-button>
    <br />
    <br />
    <ion-button (click)="verCollect()">Colecciones</ion-button>
    <br />
    <br />
    <ion-button (click)="config()" color="medium"> Configuracion</ion-button>
  </ion-list>
</ion-content>
