<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-button (click)="buscar()" >Buscar</ion-button>

    <ion-input placeholder=""  [(ngModel)]="title" ></ion-input>
    <ion-button color="danger" (click)="delete()" >🗑️</ion-button>
  </ion-item>
  {{res}}

  <ion-list style="text-align:center">
  
    <ion-button (click)="newNote()" >Nueva nota</ion-button>
    <ion-button (click)="verNotas()" > Notas</ion-button>
    <ion-button (click)="verCollect()" >Colecciones</ion-button>
    
    <ion-button (click)="edit()" > Editar perfil</ion-button>

    <ion-button color="danger" (click)="logout()" >Cerrar sesion</ion-button>
    
  </ion-list>
  
</ion-content>