<ion-header>
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-button (click)="buscar()" >Buscar</ion-button>
    <ion-input placeholder=""  [(ngModel)]="title" ></ion-input>
  </ion-item>
  {{res}}

  <ion-list style="text-align:center">
  
    <ion-button (click)="newNote()" >Nueva nota</ion-button>
    <ion-button (click)="logout()" >Cerrar sesion</ion-button>
    <ion-button (click)="edit()" > Editar perfil</ion-button>
    
  </ion-list>
  
</ion-content>