<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="atras()"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-label>Nombre</ion-label>
  <ion-input [(ngModel)]="name" placeholder="nombre"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Apellido</ion-label>
  <ion-input [(ngModel)]="last_Name" placeholder="apellido"></ion-input>
</ion-item>
<ion-content>
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input
      type="email"
      name="email"
      [(ngModel)]="email"
      placeholder="ejemplo@gmail.com"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Contraseña</ion-label>
    <ion-input [(ngModel)]="password" placeholder="contraseña"></ion-input>
  </ion-item>

  <ion-list style="text-align: center">
    <ion-button (click)="Registrar()">Registrar</ion-button>
  </ion-list>
</ion-content>
