<ion-content>
  <ion-grid class="grid1">
    <ion-row class="row1">
      <ion-col> </ion-col>
    </ion-row>

    <ion-row class="row2">
      <ion-col> </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slide>
    <div class="container-login">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>Registrarse</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list>

              <ion-item>
                <ion-input [(ngModel)]="name" placeholder="nombre"></ion-input>
              </ion-item>
              <br />
              <ion-item>
                <ion-input
                  [(ngModel)]="last_Name"
                  placeholder="apellido"
                ></ion-input>
              </ion-item>
              <br />
              <ion-item>
                <form #loginForm="ngForm">
                  <ion-input
                    type="email"
                    name="email"
                    email
                    [(ngModel)]="email"
                    placeholder="ejemplo@gmail.com"
                  ></ion-input>
                </form>
              </ion-item>
              <br />
              <ion-item>
                <form [formGroup]="passwordForm">
                  <ion-input
                    formControlName="password"
                    type="password"
                    class="form-control"
                    [(ngModel)]="password"
                    placeholder="contraseña"
                  ></ion-input>
                </form>
              </ion-item>
              
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button
              fill="solid"
              color="tertiary"
              expand="full"
              type="submit"
              [disabled]="!loginForm.form.valid"
              [disabled]="!passwordForm.valid"
              (click)="Registrar()"
              >Registrar</ion-button
            >
            <ion-button
              fill="solid"
              color="tertiary"
              expand="full"
              type="submit"
              (click)="atras()">
            Volver</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-slide>
</ion-content>
