<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="atras()"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item>
  <ion-label>Nombre</ion-label>
  <ion-input [(ngModel)]="name" placeholder="nombre"></ion-input>
</ion-item>
<ion-item>
  <ion-label>Apellido</ion-label>
  <ion-input [(ngModel)]="last_Name" placeholder="apellido"></ion-input>
</ion-item>
<ion-content>
  <ion-item>
    
    <ion-label>Email</ion-label>
    <form #loginForm="ngForm">
      <ion-input
        type="email"
        name="email"
        email
        [(ngModel)]="email"
        placeholder="ejemplo@gmail.com"
      ></ion-input>
    </form>
  </ion-item>

  <ion-item>
    <ion-label>Contraseña</ion-label>
    <form [formGroup]="passwordForm">
      <ion-input
        formControlName="password"
        type="password"
        class="form-control"
        [(ngModel)]="password"
        placeholder="contraseña"
      ></ion-input>
    </form>
  </ion-item>

  <ion-list style="text-align: center">
    <ion-button
      [disabled]="!loginForm.form.valid"
      [disabled]="!passwordForm.valid"
      (click)="Registrar()"
      >Registrar</ion-button
    >
  </ion-list>
</ion-content>
