<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="atras()"></ion-back-button>
    </ion-buttons>
    <ion-title>Notas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-button (click)="buscar()">Buscar</ion-button>
    <ion-input [(ngModel)]="title1"></ion-input>
    <ion-button color="danger" (click)="delete()">🗑️</ion-button>
  </ion-item>
  {{ res }}

  <ion-card *ngFor="let card of data1">
    <ion-card-header>
      <ion-card-title routerLink="/editar-nota"> {{ card.title }} </ion-card-title>
      <ion-card-subtitle> {{ card.notes}} </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="data1">
    <ion-card-header>
      <ion-card-title routerLink="/editar-nota"> {{ data1}} </ion-card-title>
      <ion-card-subtitle> {{ data1 }} </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

</ion-content>
