<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="atras()"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Nota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngIf="data">

    <ion-input value="{{data}}"></ion-input>

  </ion-item> 

  <ion-item *ngIf="data">

    <ion-input value="{{data}}"></ion-input>

  </ion-item> 
  <ion-item>
    <ion-label>Titulo</ion-label>
    <ion-input [(ngModel)]="title" value="53703" [disabled]="false"></ion-input>
  </ion-item>

<ion-item>
    <ion-input
      [(ngModel)]="notes" [disabled]="false" placeholder="nota"
    ></ion-input>
  </ion-item>

  <br />
  <ion-list style="text-align: center">
  
    <ion-button (click)="save()">Guardar nota</ion-button>

    <ion-button color="danger" (click)="delete()">Borrar nota</ion-button>
  
  </ion-list>

  <ion-card *ngFor="let card of data | keyvalue">
    <ion-card-header>
      <ion-card-title> 
      
        {{card.key}}:{{ card.value | json}} 
      
      </ion-card-title>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
</ion-content>
