<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="atras()"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Nota</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Titulo</ion-label>
    <ion-input [(ngModel)]="title" value="53703" [disabled]="false"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      [(ngModel)]="notes"
      [disabled]="false"
      placeholder="nota"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Collections</ion-label>
    <ion-input
      [(ngModel)]="collections"
      placeholder="Escriba 'Favorito' para añadir"
   ></ion-input>
  </ion-item>

  
  <br />
  <ion-list style="text-align: center">
    <ion-button (click)="save()"
      >Guardar nota <ion-icon slot="end" name="archive"></ion-icon
    ></ion-button>

    <ion-button color="danger" (click)="delete()"
      >Borrar nota <ion-icon slot="end" name="trash-bin"></ion-icon
    ></ion-button>
    <ion-button class="ion text-center "(click)="fav()" color="warning" > Agregar a Favoritos <ion-icon slot="end" name="star"> </ion-icon>
    </ion-button>
    </ion-list>
 
 <ion-card *ngFor="let card of dataNota | keyvalue">
    <ion-card-header>
      <ion-card-title> {{ card.value | json}} </ion-card-title>
    </ion-card-header>
    <ion-card-content> </ion-card-content>
  </ion-card>
</ion-content>
